<html>
<head>
<title>Технические работы - {{ atm.error.site_title }}</title>
<meta charset="UTF-8"/>
<style type="text/css">
.block {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    color: #AAA;
    font-family: Arial, sans-serif;
    text-align: center;
}
.block .title {color: #333;font-size: 30px;}
.block .text {font-size: 20px;margin-top: 40px;}
.form_title {min-width: 100px;}
</style>
</head>
<body>
<div class="block">
	<div class="title">Извините, на сайте проводятся технические работы.</div>
	{% if atm.error.message %}<div class="text">{{ atm.error.message }}</div>{% endif %}
	{% if atm.error.login %}
	<form name="loginForm" action="{{ atm.error.login }}" method="POST" id="sendForm">
		<div class="text" style="width:100%; text-align: center;">
			<table width="300" border="0" style="display: inline-block; background-color: #BEBEBE; padding: 10px;">
				<tr><td>Логин:</td><td><input type="text" name="username" maxlength="30" value="" /></td></tr>
				<tr><td>Пароль:</td><td><input type="password" name="password" maxlength="30" />{{ atm.error.form_key }}</td></tr>
				<tr><td>Запомнить:</td><td><input type="checkbox" name="autologin" value="1" /></td></tr>
				<tr align="center"><td colspan="2"><input type="submit" name="submitForm"value="Вход" /></td></tr>
			</table>
		</div>
	</form>
	{% endif %}
	{% if atm.error.logout %}
		<div class="text">Вы авторизованы как "{{ atm.error.name }}". <a href="{{ atm.error.logout }}">Выйти с сайта</a></div>
	{% endif %}
</div>
</body>
</html>
