{% extends "main.html.twig" %}

{% block content %}

    <form name='editThemeForm' id="editThemeForm" action="{{ atm.context.action }}" method="POST" onsubmit="sendu('editThemeForm'); return false">
    <div class="material">
          <div class="mat-title">Редактирование темы</div>
          <div class="mat-content">
              <ul class="spisok-all">
              <li>
				  <span class="siu_title"><strong>Местонахождение темы:</strong></span>
                  <span class="siu_data"><select name="id_forum">{{ atm.context.options | raw }}</select></span>
              </li>
              <li>
				  <span class="siu_title"><strong>Название темы:</strong></span>
				  <span class="siu_data"><input type="text" name="theme" maxlength="55" value="{{ atm.context.theme }}" /></span>
              </li>
              <li>
                  <span class="siu_title"><strong>Описание темы:</strong></span>
                  <span class="siu_data"><input type="text" name="description" maxlength="128" value="{{ atm.context.description }}" /></span>
              </li>
              <li>
                  <span class="siu_title"><strong>Автор темы:</strong></span>
                  <span class="siu_data"><input type="text" name="author" value="{{ atm.context.author }}" disabled /></span>
              </li>
			  {% if atm.user.admin_access == 1 %}
				  <li>
					  <span class="siu_title"><strong>Закрыть доступ:</strong></span>
					  <span class="siu_data">
					  {% for group in atm.users_groups %}
						  <label><input type="checkbox" {% for curr in atm.context.gr_access %} {% if curr == group.id %} checked="checked" {% endif %} {% endfor %} value="{{ group.id }}" name="gr_access_{{ group.id }}" />{{ group.title }}</label>
					  {% endfor %}
				   </span>
				  </li>
			  {% endif %}
              <li>
                  <span class="siu_title"><strong>Закрепить первое сообщение темы:</strong></span>
                  <span class="siu_data"><input type="checkbox" name="first_top" {% if atm.context.first_top %} checked="checked" {% endif %} /></span>
              </li>
              {% if atm.checkAccess([atm.module,'close_themes']) %}
				  <li>
					  <span class="siu_title"><strong>Закрыть тему:</strong></span>
					  <span class="siu_data"><input type="checkbox" name="locked" {% if atm.context.locked %} checked="checked" {% endif %}></span>
				  </li>
              {% else %}
                  <input type="hidden" name="locked" value="{{ atm.context.locked }}"/>
              {% endif %}
              <li>
                  <input type="submit" name="sendForm" value="Сохранить" />
              </li>
              </ul>
          </div>
    </div>
    </form>

{% endblock %}