{# Является ли пользователь автором материала #}
{% if atm.user.id != 0 and atm.user.id == atm.theme.id_author %}
    {% set is_owner = 1 %}
{% else %}
    {% set is_owner = 0 %}
{% endif %}

{# Идентификатор форума #}
{% set forum_id = theme.id_forum %}

{# Идентификатор темы #}
{% set theme_id = theme.id %}

{# Просмотр темы #}
{% if atm.checkAccessForum(['view_themes', forum_id]) %}
    {# Редактирование #}
    {% if atm.checkAccessForum(['edit_themes',forum_id]) or (is_owner and atm.checkAccessForum(['edit_mine_themes',forum_id])) %}
        <a class="atm-edit" href="{{ atm.www_root | raw }}/{{ atm.module }}/edit_theme/{{ theme_id }}"></a>
    {% endif %}

    {# Заблокировать/разблокировать тему #}
    {% if atm.checkAccessForum(['close_themes',forum_id]) %}
        {% if atm.theme.locked == 0 %}
            <a id="flm{{ theme_id }}" class="atm-close" href="{{ atm.www_root | raw }}/{{ atm.module }}/lock_theme/{{ theme_id }}" onclick="sendu('flm{{ theme_id }}'); return false;"></a>
        {% else %}
            <a id="fulm{{ theme_id }}" class="atm-open" href="{{ atm.www_root | raw }}/{{ atm.module }}/unlock_theme/{{ theme_id }}" onclick="sendu('fulm{{ theme_id }}'); return false;"></a>
        {% endif %}
    {% endif %}

    {# Закрепить/открепить тему #}
    {% if atm.checkAccessForum(['important_themes',forum_id]) %}
        {% if atm.theme.important == 1 %}
            <a id="fuim{{ theme_id }}" class="atm-unfix" href="{{ atm.www_root | raw }}/{{ atm.module }}/unimportant/{{ theme_id }}" onclick="sendu('fuim{{ theme_id }}'); return false;"></a>
        {% else %}
            <a id="fim{{ theme_id }}" class="atm-fix" href="{{ atm.www_root | raw }}/{{ atm.module }}/important/{{ theme_id }}" onclick="sendu('fim{{ theme_id }}'); return false;"></a>
        {% endif %}
    {% endif %}

    {# Удаление #}
    {% if atm.checkAccessForum(['delete_themes',forum_id]) or (is_owner and atm.checkAccessForum(['delete_mine_themes',forum_id])) %}
        <a id="fd{{ theme_id }}" class="atm-delete" href="{{ atm.www_root | raw }}/{{ atm.module }}/delete_theme/{{ theme_id }}" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('fd{{ theme_id }}')}; return false;"></a>
    {% endif %}
{% endif %}
