{% if atm.theme.closed == 1 %}
    <div class="not-auth-mess locked">{{ atm.__('Theme is locked') }}</div>
{% endif %}

{% if atm.reply_form.access == 1 %}

    {{ atm.editor_body | raw }}
    <script>
        maxAttachedFiles = {{ atm.reply_form.max_attaches }};
    </script>
    <div class="forumblock">
        <form name="sendForm" id="sendForm" action="{{ atm.reply_form.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu('sendForm'); return false">
            <div class="titleanswer">Форма для ответа</div>
            <div class="answertextarea"><textarea {{ atm.editor_text | raw }} data-light="true" class="text-area" name="mainText">{{ atm.reply_form.main_text }}</textarea></div>
            <div class="margin floatfix">
                <input class="fright" type="submit" name="submitForm" value="Ответить" />
                {% if atm.checkAccess(['forum','upload_files']) and atm.reply_form.locked_attaches == 0 %}
                    <div id="attachments">Прикрепить файлы:<br/>
                        <input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span>
                        <input type="button" name="addInput" value="Прикрепить еще файл" onClick="addFileField('attachments');" />
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

{% else %}

    {% if atm.theme.closed != 1 %}
        {% if atm.user.id %}
            <div class="not-auth-mess access">{{ atm.__('Dont have permission to write post') }}</div>
        {% else %}
            <div class="not-auth-mess guest">{{ atm.__('Guests cant write posts')|format(atm.get_url('/users/add/'), atm.get_url('/users/login/'))|raw }}</div>
        {% endif %}
    {% endif %}

{% endif %}
