
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.brand-logo img {
    margin: 0.6rem 10px 0;
}

.brand-text {
    display: inline-block;
    margin-top: -1.5rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.6em;
}

a[data-activates="profile_navmenu"] i {
    width: 40px;
    padding-top: 0.6rem;
}
footer.page-footer {
    background-color: #0099C7;
}
.dropdown-content {
    z-index: 4;
}
.bold > a {
    font-weight:bold;
}


.main-menu.collapsible {border:none;}
.main-menu.collapsible .collapsible-header i img {
    vertical-align: sub;
}
.main-menu.collapsible .collapsible-header,
.main-menu.collapsible .collapsible-body,
.main-menu.collapsible .collection .collection-item {
    border-bottom: none;
    background-color:transparent;
}

.main-menu.collapsible .collection {
    border:0;
}
.main-menu.collapsible .collection .collection-item.active {
    background-color: #FFE9CB;
    color: #49382F;
}
.main-menu.collapsible .collection a.collection-item:not(.active):hover {
    background-color: #3F494F;
}
.main-menu.collapsible .collection a.collection-item {
    color: #17495F;
}
.collapsible {
    white-space: nowrap;
}

.card .card-content .card-title {
    line-height: 20px;
}

.collection .collection-item .right-content {
    float:right;
    margin-top:-7px;
}

/* == Helpers == */
/* margins */
.no-margin {margin:0!important;}
.b10m {margin:1rem;}
.b15m {margin:15rem;}
.b30m {margin:3rem;}
.b10rm {margin-right:1rem;}
.b10lm {margin-left:1rem;}
.b10tm {margin-top:1rem;}
.b10bm {margin-bottom:1rem;}
.b15rm {margin-right:1.5rem;}
.b15lm {margin-left:1.5rem;}
.b15tm {margin-top:1.5rem;}
.b15bm {margin-bottom:1.5rem;}
.b30rm {margin-right:3rem;}
.b30lm {margin-left:3rem;}
.b30tm {margin-top:3rem;}
.b30bm {margin-bottom:3rem;}

/* paddings */
.b10p {padding:1rem;}
.b15p {padding:15;}
.b30p {padding:3rem;}
.b10rp {padding-right:1rem;}
.b10lp {padding-left:1rem;}
.b10tp {padding-top:1rem;}
.b10bp {padding-bottom:1rem;}
.b15rp {padding-right:1.5rem;}
.b15lp {padding-left:1.5rem;}
.b15tp {padding-top:1.5rem;}
.b15bp {padding-bottom:1.5rem;}
.b30rp {padding-right:3rem;}
.b30lp {padding-left:3rem;}
.b30tp {padding-top:3rem;}
.b30bp {padding-bottom:3rem!important;}

.b-none {
    border:0;
}

.z-depth-0 {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.row .col.max-s1{max-width:8.33333%;margin-left:0}
.row .col.max-s2{max-width:16.66667%;margin-left:0}
.row .col.max-s3{max-width:25%;margin-left:0}
.row .col.max-s4{max-width:33.33333%;margin-left:0}
.row .col.max-s5{max-width:41.66667%;margin-left:0}
.row .col.max-s6{max-width:50%;margin-left:0}
.row .col.max-s7{max-width: 58.33333%;margin-left:0}
.row .col.max-s8{max-width:66.66667%;margin-left:0}
.row .col.max-s9{max-width:75%;margin-left:0}
.row .col.max-s10{max-width:83.33333%;margin-left:0}
.row .col.max-s11{max-width:91.66667%;margin-left:0}
.row .col.max-s12{max-width:100%;margin-left:0}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* Fix for chrome */
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white!important; /* цвет вашего фона */
    -webkit-text-fill-color: black!important; /* цвет текста */
}


/* Small style for CodeMirror*/
.CodeMirror {
    border: 1px dashed #ddd;
}



.menuHTML5 {}
.menuHTML5 details > a::before {
    content:" -- ";
}
.menuHTML5 details {
    padding-left: 1rem;
}
.menuHTML5 details > summary {
    cursor: default;
}
.menuHTML5 details > a {
    display: block;
    padding-left: 1rem;
}
.menuHTML5 details > a.active {
    color: grey;
}



#sort.collection {
    border-top: 0;
}
#sort.collection .plholder {
    background:grey;
    height:2.8rem;
}
#sort.collection .ui-sortable-helper {
    opacity:0.5;
}
#sort.collection li {
    padding-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}
#sort.collection ul {
    padding-bottom: 10px;
}


.tree.collection .collection {
    margin-top: 1rem;
}
.tree.collection .collection-item .head {
    padding: 1rem;
}
.tree.collection .collection-item .title {
    padding-left:0;
}
.tree.collection > .collection-item .head .title {
    font-size: 1.5rem;
}
.tree.collection div .collection-item {
    line-height: 37px;
}
.tree.collection div .collection-item img {
    max-height:37px;
    margin-right:10px;
}



.input-field small.error-info {
    margin-top: -15px;
    display: block;
}

.gallery #screenshot {
    max-width: 250px;
    max-height: 250px;
}

.pagination {
    display:inline-block;
}


.modal.modal-fixed-footer {
    padding-bottom: 64px;
}

.modal.modal-fixed-footer .modal-content {
    position: initial;
}


@media only screen and (min-width: 601px) {
    .flex {
        display: flex;
    }
    .flex-1-0-auto {
        flex: 1 0 auto;
    }
    .brand-logo img {
        margin: 0.8rem 10px 0;
    }
}
