<div>
{% if warnings %}
{% for warning in warnings %}
	<div class="urating" id="uvote_{{ warning.id }}">
		<div class="action">(<span>{{ warning.points }}</span>)</div>
		<div class="usr"><a href="{{ atm.www_root | raw }}/users/info/{{ warning.from_user_id }}">{{ warning.fromuser.name }}</a></div>
		<div class="date">{{ warning.date | adate }}</div>
		<div class="moder">{{ warning.moder_panel }}</div>
		<div class="clear"></div>
		<div class="comm">{{ warning.cause }}</div>
	</div>
{% endfor %}
{% endif %}
</div>