{% if atm.chat.access == 1 %}

    <div id="chat_meta"></div>
    <form action="{{ atm.chat.action }}" method="POST" onSubmit="submitChat(this); return false;">
    <div class="chat-addfrom">
            <div  class="margin">
                    <textarea id="chatModule" name="message"></textarea>
            </div>
            {% if atm.chat.captcha %}
            <div class="chat_captcha">{{ atm.chat.captcha | raw }}</div>
            {% endif %}
            <div>
                    <span style="display:none" id="chatWait" class="vectorcssloader">
                        <span class="css3loading"></span> 
                </span>
                            <input type="submit" name="send" value="Отправить"/>
                            <a class="greenlink" id="bigformlink" href="{{ atm.www_root | raw }}/chat/">Расширенная форма</a>
            </div>
    </div>
    </form>
    <audio id="soundchat" src="{{ atm.template_path }}/sounds/message-in.ogg"></audio>

{% else %}

    {{ atm.__('Dont have permission to write post in chat',true,'chat') }}

{% endif %}
