<div class="footer">
<div class="people"><span>Сообщество</span>{{ atm.mainmenu | raw }}</div>
<div class="support"><span>Поддержка</span>
<a href="#">Пользовательское соглашение</a>
<br><a href="https://bitbucket.org/atom-m/cms/wiki/" rel="nofollow">Документация</a>
<br><a href="#">Правила сайта</a>
<br><a href="#">Заказать рекламу</a>
<br><a href="{{ atm.www_root | raw }}/sitemap.xml">Карта сайта</a>
</div>
<div class="faposcms"><span>Atom-M CMS</span>
<a href="https://bitbucket.org/atom-m/cms/downloads/" rel="nofollow">Скачать CMS</a>
<br><a href="https://bitbucket.org/atom-m/cms/wiki/%D0%92%D0%B8%D0%B4%D0%B5%D0%BE%D1%83%D1%80%D0%BE%D0%BA%D0%B8_Fapos_CMS" rel="nofollow">Видео-руководство</a>
<br><a href="https://bitbucket.org/atom-m/cms/issues/" rel="nofollow">Сообщить о баге</a>
</div>
<div style="float: right;padding: 0;">
<div class="socnet" style="display:block;">
<a href="https://vk.com/atomm_cms/" target="_blank" class="vk" title="ВКонтакте" rel="nofollow"></a>
<a href="https://twitter.com/AtomM_CMS" target="_blank" class="twitter" title="Twitter" rel="nofollow"></a>
<a href="https://www.facebook.com/fapos" target="_blank" class="fb" title="Facebook" rel="nofollow"></a>
<a href="https://plus.google.com/communities/108063950560509126013" target="_blank" class="goplus" title="Google Plus" rel="nofollow"></a>
<!--<a href="#" class="github" title="GitHub" rel="nofollow"></a>-->
<a href="https://bitbucket.org/atom-m/cms" target="_blank" class="bitbucket" title="BitBucket" rel="nofollow"></a>
<a href="#" target="_blank" class="youtube" title="YouTube" rel="nofollow"></a>
<a href="#" target="_blank" class="skype" title="Skype" rel="nofollow"></a>
<span class="rss">
   <div>
      <a href="{{ atm.www_root | raw }}/news/rss/" target="_blank" title="RSS - Новости" rel="nofollow">Новости</a>
      <a href="{{ atm.www_root | raw }}/stat/rss/" target="_blank" title="RSS - Статьи" rel="nofollow">Статьи</a>
      <a href="{{ atm.www_root | raw }}/forum/rss/" target="_blank" title="RSS - Форум" rel="nofollow">Форум</a>
      <a href="{{ atm.www_root | raw }}/loads/rss/" target="_blank" title="RSS - Файлы" rel="nofollow">Файлы</a>
      <a href="{{ atm.www_root | raw }}/foto/rss/" target="_blank" title="RSS - Фотографии" rel="nofollow">Фото</a>
   </div>
</span>
</div>
<div>Generated by Atom-M CMS<br>Powered by boriska © 2013</div>
</div>
<noindex style="float:right;"><img src="{{ counter }}" alt=""/></noindex>
</div>