{% extends "main.html.twig" %}

{% block content %}

{{ atm.editor_body | raw }}
<form name="sendForm" id="sendForm" action="{{ atm.context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu('sendForm'); return false">
<div class="material">
	  <div class="mat-title">Добавление новой фотографии</div>
	  <div class="mat-content">
          <ul class="spisok-all">
		  <li>
            <span class="siu_title"><strong><font color="red">*</font>Категория:</strong></span>
            {% if atm.config(['use_multicategories']) %}
                <span class="siu_data"><select name="cats_selector[]" multiple>{{ atm.context.cats_selector | raw }}</select></span>
            {% else %}
                <span class="siu_data"><select name="cats_selector">{{ atm.context.cats_selector | raw }}</select></span>
            {% endif %}
          </li>
		  <li>
            <span class="siu_title"><strong><font color="red">*</font>Название фотографии:</strong></span>
            <span class="siu_data"><input type="text" name="title" maxlength="128" value="{{ atm.context.title }}"></span>
          </li>
		  <li class="margin">
            <textarea {{ atm.editor_text | raw }} class="text-area" name="mainText">{{ atm.context.main_text }}</textarea>
          </li>
		  <li>
            <span class="siu_title"><strong><font color="red">*</font>Изображение:</strong></span>
            <span class="siu_data"><input type="file" name="foto" size="25" /></span>
          </li>
		  {% if atm.checkAccess([atm.module,'record_comments_management']) %}
		  <li>
            <span class="siu_title"><strong>Комментарии:</strong></span>
            <span class="siu_data"><input type="checkbox" name="commented" value="1" {{ atm.context.commented }} /></span>
          </li>
		  {% endif %}
		  <li>
            <input type="submit" name="submitForm" value="Отправить" />
          </li>
		  </ul>
	  </div>
</div>
</form>
{% endblock %}