{% extends "main.html.twig" %}

{% block content %}

<div class="material">
      <div class="mat-title"><a href="{{ atm.entity.entry_url }}"><h1>{{ atm.entity.title }}</h1></a></div>
	  <div class="mat-content">
	    <div class="photos_albums_container">
		    <div class="bigimg margin">
		      <a class="bigimglink gallery" href="{{ atm.entity.main }}"><img alt="{{ atm.entity.foto_alt }}" src="{{ atm.entity.main }}"/></a>
			  <a class="rotatorimg before" title="Предыдущее фото" href="{{ atm.entity.previous_url }}"></a>
			  <a class="rotatorimg after" title="Следующее фото" href="{{ atm.entity.next_url }}"></a>
			</div>
            <div class="infomats">
		        <div class="namesmats"><b class="title">{{ atm.entity.title }}</b>
                  <br />{{ atm.entity.description }}
				</div>
		        <div class="infomatsright">
			      <b>Автор:</b><a href="{{ atm.entity.profile_url }}"> {{ atm.entity.author.name }}</a>
				  <br /><b>Альбом:</b> {% for index, category in atm.entity.categories %}{% if index > 0 %},{% endif %}<a href="{{ category.url }}">{{ category.title }}</a>{% endfor %}
			      <br /><b>Просмотров:</b> {{ atm.entity.views }}
			      <br /><b>Дата:</b> {{ atm.entity.date | adate }}
				  {% if atm.entity.commented %}<br /><b>Комментариев:</b> {{ atm.entity.comments | raw }}{% endif %}
			      <br />{% include "includes/moder_panel.html.twig" %}
			    </div>
	        </div>
		</div>
      </div>
</div>
{{ relmat }}


{% include 'default/viewcomment.html.twig' %}
{% include 'default/addcommentform.html.twig' %}
{% endblock %}