{% extends "base.html.twig" %}

{% block container %}
    <img src="img/ajax_loader.gif" style="display:none;" id="ajaxLoader" />
    <div class="finblock finblock_sql" id="queries">Производится подготовка базы данных...</div>

    <div class="finblock finblock_modules">
        <form method="post" action="step3.php">
            <div id="newv"></div>

            <h3>Установить модули</h3>

            <ul>
                {% for module in atm.modules %}
                <li>
                    <input type="checkbox" id="cb_{{ module }}" name="modules[{{ module }}]"
                    {% if module in atm.installed_modules %} checked{% endif %}
                    {% if module in ['home', 'users'] %} disabled="disabled"{% endif %}>
                    <label for="cb_{{ module }}">{{ atm.__(module, false, module) }}</label>
                </li>
                {% endfor %}
            </ul>
            <div class="finish">
                <input class="btn" type="submit" name="send" value="ЗАВЕРШИТЬ" />
            </div>

        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function doQueries() {
            $('#ajaxLoader').show();
            $('.finblock_modules').hide();
            $.get('do_queries.php?', function(data){
                $('#queries').html(data);
                $('#ajaxLoader').hide();
                progressBar(4);

                $('#queries').scrollTop(1500);
                $('.finblock_modules').show();
            });
        }
        function progressBar(step) {
            $('#ajaxLoader3').show();
            $.get('progressbar.php?step='+step, function(data){
                $('#ajaxLoader3').hide();
                $('#progressbar').html(data);
            });
        }
        progressBar(3);
        doQueries();
    </script>
{% endblock %}