{% extends "base.html.twig" %}

{% block container %}
    <div class="finblock finish">
        <h1 class="fin-h">Установка прошла успешно!</h1>
        <br />
        <a href="/" class="step3 btn">Перейти на сайт</a>
        <br /><br /><br />
        <span class="help">Перед использованием сайта не забудьте удалить или переименовать директорию INSTALL</span>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function progressBar(step) {
            $('#ajaxLoader3').show();
            $.get('progressbar.php?step='+step, function(data){
                $('#ajaxLoader3').hide();
                $('#progressbar').html(data);
            });
        }
        progressBar(5);
        doQueries();
    </script>
{% endblock %}