#chat .block_chat { 
font-family: Arial,sans-serif; 
overflow: hidden; 
font-size: 13px; 
background: #FCFCFC; 
border: 1px solid #ddd; 
margin-bottom: 3px; 
padding: 3px;
text-align: left;
line-height: 15px;
}
#chat .block_chat:hover {background: #FFF;border: 1px solid #BBB;}
#chat .atm-ip, .atm-del, .atm-user {
width:14px; 
height:14px; 
display:block; 
float:left; 
margin: 0 2px; 
background:url('../img/atm-icons-sprite.png') no-repeat;
}
#chat .atm-user {background-position:-14px 0;}
#chat .atm-ip {background-position:0px -154px;}
#chat .atm-del {background-position:0px 0px;}
#chat .name {color:#C18D3F; text-decoration: none;}
#chat .mess {font-size: 12px;color:#525252;padding-top: 3px;white-space: normal;word-wrap: break-word;overflow: hidden;}

.scrollBox {padding: 6px;}

#chat {width: 100%; height: 250px; overflow: auto;outline: none;}
#chat .jspDrag {background: #444;border-radius: 3px;}
#chat .jspVerticalBar, #chat .jspHorizontalBar, #chat .jspTrack {background: none;}
#chat .jspVerticalBar {width: 5px;}
#chat .jspHorizontalBar {height: 5px;}
#chat .jspHorizontalBar .jspTrack, #chat .jspHorizontalBar .jspDrag{height: 5px;}
#chat .jspCorner {background: none;}